.App {
  text-align: center;
}

body{
  background-color:  #213549;
  color:white;
}

*,*::after,*::before{
  box-sizing: border-box;
}

body{
  margin:0;
  width:100%;
}

.container{
  display:flex;
  justify-content: space-around;
  align-items: center;
  margin: 0.5em auto;
  /* padding:0.5rem; */
  font-size:1em;

}
.filters {
  display: grid;
  grid-gap: .5em;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  list-style: none;
  padding: 0;
  margin: 0;
}
.navbar{
  color:white;
}
.filterThumb {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: none;
  padding: 0.5em;
  border-radius: 0.2em;
  border: solid 2px gray;
  cursor: pointer;
}
  .filterThumb:hover {
    border: solid 2px purple;
  }

  .filterThumb span,
  img {
    display: block;
  }

  .filterThumb img {
    margin-bottom: .5em;
  }


